@media screen and (max-width: 1199px)
	*
		font-size: 16px
	.container
		max-width: 960px
		&-scroll
			overflow-x: scroll
	.breadcrumb
		span
			font-size: 14px

	section
		overflow: hidden
		&.callback, &.calc
			overflow: unset
		
	.menu
		&-drop
			&__submenu
				&-info
					margin-right: 110px

	.post
		&-card
			max-width: 460px

	.guarantee
		&-card
			max-width: 460px
	
	.callback
		&-form
			img
				right: 50px
			&__orange
				.descr_form
					max-width: none
					margin-right: 0px

	.aboutUs
		padding-top: 100px
		padding-bottom: 100px
		margin-bottom: 150px

	.area
		z-index: 1
		&__radio
			&-list
				margin-bottom: 20px
		&__select
			margin-bottom: 20px
		&__inputs
			margin-bottom: 20px
	.calc
		&-bg
			width: 400px
			right: 0

	.price
		&-card
			max-width: 300px
			&__small
				&:nth-child(4n)
					margin-right: 30px
				&:nth-child(3n)
					margin-right: 0px
			&:nth-child(4n)
				margin-right: 30px
			&:nth-child(3n)
				margin-right: 0px

	.callback
		&-form
			&__orange
				form
					.form
						&-box
							&__big
								max-width: 485px


	.numbBig
		&-card
			&:nth-child(4n)
				margin-right: 63px
			&:nth-child(3n)
				margin-right: 0px



@media screen and (max-width: 991px)
	.breadcrumb
		span
			font-size: 12px

	.menu
		&-drop
			&__submenu
				&-info
					margin-right: 0
				&-icon
					display: none

	.container
		max-width: 720px
	

	h1
		font-size: 32px
	h2
		font-size: 32px
	

	.post
		&-header
			&__img
				height: auto
		&-card
			max-width: 345px

	.guarantee
		&-card
			max-width: 345px
			&__text
				padding: 20px
			h4
				font-size: 22px
			p
				font-size: 14px
			&__img
				min-width: 70px
				img
					width: 35px
					height: 35px

	.price
		&-cards
			justify-content: space-between
			&__small
				justify-content: flex-start
		&-card
			margin-right: 0px
			max-width: 350px
			&__small
				&:nth-child(3n)
					margin-right: 30px
				&:nth-child(2n)
					margin-right: 0px
					
					
			&:nth-child(2n)
				margin-right: 0px
			&:nth-child(4n)
				margin-right: 0px
			&:nth-child(3n)
				margin-right: 0px


	.callback
		&-form
			&__orange
				padding: 25px
				form
					.form
						&-box
							&__small
								max-width: 320px
							&__big
								max-width: 320px
			img
				width: 350px
				right: -20px
				top: -30px

	.aboutUs
		&-card
			span
				font-size: 32px
			p
				font-size: 14px
				line-height: 110%
	
	.calc
		&-bg
			width: 340px
			bottom: 80px



	.rating
		&-card
			max-width: 200px
			&__star
				margin-bottom: 20px
				img
					width: 100px
				span
					font-size: 28px
			&>img
				width: 70%
				height: 40px

	.gallery
		&-swiper
			&__top
				height: auto
			&__bottom 
				.swiper-slide
					height: auto

	.team
		&-slider
			.swiper
				&-slide
					display: flex
					justify-content: center
					align-items: center

	.block
		&-img
			min-width: 240px
			img
				width: 100%
		&-text
			padding: 0px 20px
			p
				font-size: 14px

	.props
		&-cards
			flex-direction: column
		&-card
			margin-bottom: 20px

	.post
		&-header
			span
				font-size: 16px

	.steps
		&-cards
			&__numbBig
				justify-content: center


	.numbBig
		&-cards
			justify-content: center
		&-card
			margin-right: 30px
			&:nth-child(2n)
				margin-right: 0px
				
			&:nth-child(4n)
				margin-right: 0px
			&:nth-child(3n)
				margin-right: 30px


@media screen and (max-width: 767px)
	section
		margin-bottom: 100px!important
	.menu
		padding-top: 10px
		margin-bottom: 20px
		li
			&:last-child
				margin-bottom: 0px
		&-drop
			z-index: 1
			position: relative
			background: transparent
			transform: none
			min-height: auto
			height: 0
			.container
				&>ul
					&>li
						background: transparent
						border-radius: 0px
						padding: 5px 10px 5px 0px
						font-size: 14px
						position: relative
						&::before
							content: '>'
							position: absolute
							right: 10px
							top: 5px
							width: 10px
							color: #000
							font-weight: bold
							font-size: 14px
						&>a
							font-size: 14px
							padding: 0px
							color: #000000
							font-weight: 400
							&:hover
								background: transparent
						&:hover
							background: transparent
							&::before
								transform: rotateZ(90deg)
							
			&__submenu
				position: relative
				left: auto
				width: 100%	
				padding: 0px
				flex-direction: column
				a
					font-size: 12px
				p
					font-size: 10px
					margin-bottom: 0px
				&-info
					opacity: 1!important
					height: 0px
					overflow: hidden
					flex-direction: column-reverse
				&-icon
					display: flex
					height: 0px
					width: 0px
					transition: all 0s ease!important
					opacity: 1!important
				h4
					display: none


	.small
		&-drop
			position: relative
			background: transparent
			ul
				li
					background: transparent
					&:hover
						background: transparent
					a
						padding: 5px 10px 5px 0px
						font-size: 14px
						color: #000
						font-weight: 500
	
	.nav
		padding-left: 45px
		flex-direction: column
		width: 100%
		align-items: flex-start!important
		margin-bottom: 20px
		&-icon
			display: flex
		&>li
			padding: 0px 0px!important
			margin-right: 0px!important
			width: 100%!important
			position: relative
			&:hover
				background: none
				.small
					&-drop
						height: 0
				.menu-drop
					min-height: auto
					height: 0
			&>a
				font-size: 16px
				line-height: 19px
				font-weight: 700
			a
				width: fit-content
				padding: 12px 8px 12px 0px
				color: #2196F3
			

	.no-scroll
		overflow: hidden

	.burger
		display: flex
		justify-content: center
		align-items: center
		width: 40px
		height: 40px
		border-radius: 50%
		background: #FF9534
		z-index: 1
		cursor: pointer
		&-active
			transition: all 0.3s ease
			span
				background: transparent !important
				&::after
					transform: rotateZ(135deg) 
					top: 0!important
				&::before
					top: 0!important
					transform: rotateZ(45deg) 
		span
			display: block
			width: 22px
			height: 3px
			background: #fff
			position: relative
			transition: all 0.3s ease
			border-radius: 90px
			&:before
				position: absolute
				content: ''
				display: block
				width: 22px
				height: 3px
				top: -6px
				left: 0
				background: #fff
				border-radius: 90px
			&::after
				position: absolute
				content: ''
				display: block
				width: 22px
				height: 3px
				top: 6px
				left: 0
				background: #fff
				border-radius: 90px


	.submenu
		position: relative
		padding: 0px
		&-drop
			position: relative
			height: auto
			a
				&::before
					display: none
			&-active
				.menu-drop
					height: auto!important
				.small
					&-drop
						height: auto!important
				&::before
					transform: rotateZ(90deg)
			&::before
				content: '>'
				position: absolute
				right: 24px
				top: 11px
				width: 10px
				color: #2196F3
				font-weight: bold
				font-size: 24px

		&-active
			.menu
				&-drop
					&__submenu
						&-info
							height: auto
							margin-bottom: 10px
						&-icon
							width: 160px
							height: 60px
							border-radius: 5px
							align-items: flex-start
							padding: 5px
							transition: all 0s ease!important
							img
								width: auto
								height: 100%

	.container
		max-width: 540px
	

	.post
		&-card
			max-width: none

	
	.guarantee
		&-card
			max-width: none

	.why
		&-card
			max-width: none

	.calc
		&-bg
			display: none


	.callback
		&-form
			padding: 37px 60px 37px 60px
			&__orange
				padding: 25px
				form
					flex-direction: column
					.form
						&-box
							&__small
								max-width: none
								margin-bottom: 20px
							&__big
								max-width: none
								.btn
									&-black
										max-width: none
										margin-right: 0px
										margin-bottom: 10px
								p
									max-width: none

	.price
		&-card
			margin-right: 0px!important
			max-width: 255px
			&__img
				height: 150px
				min-height: 150px
				max-height: 150px
			&__control
				flex-direction: column
				align-items: center
				.btn
					margin-bottom: 20px
					max-width: none
		&-cards
			justify-content: space-between

	.rating
		&-card
			max-width: 150px
			&>img
				width: 85%
				margin-bottom: 10px

	.block
		flex-direction: column
		&-text
			padding: 0px
			margin-bottom: 20px	
	
	.about
		margin-bottom: 100px

	.post
		&-header
			flex-direction: column
			&__img
				order: 3
			span
				display: block
				width: 100%
				text-align: right
				order: -1
				font-size: 14px
				margin-bottom: 10px
			h2
				order: 1
		&-content
			blockquote
				padding: 40px
				border-top: 10px solid #FF9534
				border-bottom: 10px solid #FF9534
				&::before
					top: -10px
					width: 40px
					height: 20px
				&::after
					bottom: -10px
					width: 40px
					height: 20px
				p
					font-size: 18px
					line-height: 100%
				cite
					font-size: 14px
					line-height: 100%

	.numbBig
		&-card
			margin-right: 30px!important
			h4
				font-size: 20px
			p
				font-size: 14px
			&__head
				font-size: 62px
		

@media screen and (max-width: 575px)

	.menu
		&-drop
			.container
				&>ul
					&>li
						border-radius: unset
	.submenu
		padding-bottom: 0px

	.container
		max-width: 320px
		&-scroll
			padding: 0


	h1,h2
		font-weight: 700
		font-size: 20px
		line-height: 110%
		text-align: center

	.area
		&__radio
			&-list
				span
					padding: 12px
				input[type="radio"]:checked+span
					padding-top: 12px
		&__service
			&-item
				&:last-child
					border-bottom: none
			&-wrapper
				min-width: 335px

	.aboutUs
		&-cards
			flex-wrap: wrap
		&-card
			max-width: 50%
			width: 100%
			margin-bottom: 30px

	.callback
		margin-bottom: 220px!important
		&-form
			justify-content: center
			padding: 37px 15px 145px
			form
				max-width: 260px
				p
					text-align: center
					font-size: 10px
					opacity: 1
					color: #fff
			&__orange
				padding: 15px
			input,.btn, textarea
				max-width: none !important
			textarea
				min-width: 290px
				max-width: 290px
			img
				width: 260px
				top: calc(100% - 120px)
				left: 20px

	.descr_form
		margin-bottom: 10px
		
	.post
		&-card
			margin-bottom: 40px
			h4
				font-size: 22px
			p
				font-size: 16px
			&__img
				height: 220px
	
	.price
		&-sidebar
			width: 320px
			overflow-x: scroll
			ul
				width: 550px
		&-card
			width: 100%
			max-width: none
			&__small
				max-width: none
				margin-right: 0px!important
			&__img
				height: 180px
				min-height: 180px
				max-height: 180px
			&__control
				flex-direction: row
				align-items: center
				.btn
					max-width: 140px
					margin-bottom: 0px


	.rating
		&-cards
			flex-direction: column-reverse
			align-items: flex-start
		&-card
			max-width: none
			margin-bottom: 40px
			img
				width: auto
				height: auto
	
	.post
		&-content
			blockquote
				padding: 15px
				border-top: 5px solid #FF9534
				border-bottom: 5px solid #FF9534
				&::before
					top: -5px
					width: 20px
					height: 10px
				&::after
					bottom: -5px
					width: 20px
					height: 10px
				p
					font-size: 16px
					line-height: 100%
				cite
					font-size: 12px
					line-height: 100%

	.steps
		&-cards
			&__rect
				flex-direction: column
				min-width: auto
				align-items: center
			&__circleBig
				padding: 110px 20px
			&__square
				flex-direction: column
				align-items: center
				min-width: auto
			&__circle
				min-width: auto
				align-items: center
				flex-direction: column
			&__arrow
				min-width: auto
				align-items: center
				flex-direction: column
		.container
			&-scroll
				overflow-x: unset

	.card
		&-rect
			padding: 22px 22px 28px 22px
			h4
				font-size: 20px
				line-height: 110%
				margin-bottom: 2px
			p
				font-size: 12px
				line-height: 110%
			&::before
				top: calc(100% - 1px)
				width: 20px
				height: 10px
				right: 50%
				clip-path: polygon(100% 0, 0 0, 50% 100%)
				transform: translateX(50%)
			&:nth-child(1)
				border-radius: 5px 5px 0px 0px
			&:last-child
				border-radius: 0px 0px 5px 5px
		&-square
			margin-bottom: 63px
			margin-right: 0px
			&::before
				display: none
		&-circle
			margin-right: 0px
			max-width: 207px
			margin-bottom: 112px
			h4
				position: relative
				top: auto !important
				left: auto !important
				right: auto !important
				bottom: auto !important
				transform: translate(0, 0)
				font-weight: 700
				font-size: 20px
				line-height: 110%
				text-align: center
				color: #FFFFFF
			p
				font-weight: 400
				font-size: 14px
				line-height: 110%
				text-align: center
			&__text
				width: 207px	
				height: 207px
				flex-direction: column
				padding: 25px
			&:first-child
				&::before
					left: 50%
					top: auto
					bottom: calc(100% + 20px)
					transform: translate(-20px, -50%)
			&:last-child
				&::after
					right: 50%
					top: calc(100% + 53px)
					transform: translate(20px, -50%)
			&:nth-child(2n)
				&::before
					left: 37%
					top: auto
					bottom: calc(100% + 39px)
					transform: rotate(90deg)
				img
					transform: translate(-75%, 9%) rotateZ(90deg)
			&:nth-child(2)
				&::after
					left: 45%
					right: auto
					top: calc(100% + 39px)
					transform: rotateZ(291deg)
			img
				transform: translate(-25%, 9%) rotateZ(270deg)
				width: 345px
		&-arrow
			margin-right: 0px
			height: 202px
			margin-bottom: 35px
			position: relative
			&:last-child
				margin: 0!important
			&:nth-child(odd)
				p
					left: -13px
			&:nth-child(even)
				p
					text-align: right
					right: -13px
			&__img
				width: 121px
				height: 121px
				display: flex
				justify-content: center
				align-items: center
				&::before
					transform: translate(-50%, -50%) rotate(90deg)
					width: 248px
					height: 48px
			h4
				text-align: center
				font-weight: 700
				font-size: 14px
				line-height: 110%
				color: #FFFFFF
			p
				position: absolute
				bottom: 0
				font-weight: 400
				font-size: 12px
				line-height: 110%
				color: #1E1E1E
				max-width: 104px
				text-align: left


	.circleBig
		&-card
			min-width: 60px
			max-width: 60px
			height: 60px
			h4
				font-size: 20px
			p
				font-size: 14px
			&::after
				height: 85px
			&__center
				span
					font-size: 32px


















