.exampleWork {
  margin-bottom: 160px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.exampleWork-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.exampleWork-card {
  max-width: 540px;
  width: 100%;
  margin-bottom: 60px;
}
.exampleWork-card__swiper {
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.exampleWork-card h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #2196F3;
  margin-bottom: 20px;
}
.exampleWork-card ul li {
  line-height: 145%;
  margin-bottom: 20px;
}
.exampleWork-card ul li:last-child span {
  color: #FF9534;
}
.exampleWork-card ul li span {
  font-weight: 700;
  line-height: 145%;
}
.exampleWork-button-next {
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 40px;
  cursor: pointer;
  background: url(../../assets/img/icons/arrow-slide-right.svg) no-repeat center center;
}
.exampleWork-button-next:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.exampleWork-button-prev {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 40px;
  cursor: pointer;
  background: url(../../assets/img/icons/arrow-slide-left.svg) no-repeat center center;
}
.exampleWork-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

@media screen and (max-width: 1199px) {
  .exampleWork-card {
    max-width: 460px;
  }
}
@media screen and (max-width: 991px) {
  .exampleWork-card {
    max-width: 340px;
  }
  .exampleWork-card__swiper .swiper-slide img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .exampleWork {
    margin-bottom: 100px;
  }
  .exampleWork-cards {
    width: 100%;
  }
  .exampleWork-card {
    max-width: none;
  }
  .exampleWork-card ul li {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .exampleWork-card ul li span {
    font-size: inherit;
  }
}
@media screen and (max-width: 575px) {
  .exampleWork-cards {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .exampleWork-card {
    margin-right: 30px;
    max-width: 260px;
  }
  .exampleWork-card__swiper {
    margin-bottom: 30px;
  }
  .exampleWork-card h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .exampleWork-card ul li {
    font-size: 14px;
    line-height: 145%;
  }
}