.main {
  padding-top: 36px;
  margin-bottom: 90px;
}
.main-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 150px;
}
.main-slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main-pagination {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  z-index: 1;
  margin: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-pagination .swiper-pagination-bullet {
  background: #fff;
  border: 1px solid #2196F3;
  width: 8px;
  height: 8px;
  opacity: 1;
}
.main-pagination .swiper-pagination-bullet-active {
  border: 1px solid #2196F3;
  background: #2196F3;
}
.main .swiper-wrapper {
  width: 100%;
}
.main .swiper-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}
.main-text {
  padding-top: 65px;
  max-width: 560px;
  width: 100%;
  position: relative;
}
.main-text h1 {
  margin-bottom: 15px;
}
.main-text p {
  font-weight: 500;
  line-height: 100%;
  max-width: 430px;
  margin-bottom: 55px;
}
.main-bg {
  max-width: 442px;
  width: 100%;
  height: 392px;
  background: url(../img/svg/main-bg.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  left: calc(100% + 40px);
  top: 0;
}
.main-button-next {
  content: "";
  display: block;
  min-width: 36px;
  height: 36px;
  background: #2196F3;
  background-size: contain;
  z-index: 1;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
}
.main-button-next:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 11px;
  height: 15px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background: url(../img/icons/arrow-slide-right.svg) no-repeat center;
  background-size: cover;
}
.main-button-prev {
  content: "";
  display: block;
  min-width: 36px;
  height: 36px;
  background: #2196F3;
  background-size: contain;
  z-index: 1;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
}
.main-button-prev:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../img/icons/arrow-slide-left.svg) no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 1199px) {
  .main-bg {
    max-width: 380px;
    width: 100%;
    height: 336px;
    left: 100%;
  }
}
@media screen and (max-width: 991px) {
  .main-text {
    max-width: 380px;
  }
  .main-bg {
    height: 338px;
    left: 100%;
  }
}
@media screen and (max-width: 767px) {
  .main-slider {
    padding-bottom: 50px;
  }
  .main-bg {
    position: relative;
    left: auto;
    top: auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 383px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .main-text {
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0px;
  }
  .main-text h1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    margin-bottom: 11px;
  }
  .main-text p {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .main-text .btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 575px) {
  .main-bg {
    display: block;
    max-width: 234px;
    height: 206px;
  }
  .main-text .btn {
    width: 140px;
    height: 34px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 26px;
  }
  .main-text p {
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    margin-bottom: 30px;
  }
  .main-slider .btn-orange {
    max-width: none;
  }
}