.gallery {
  margin-bottom: 140px;
}
.gallery-filter {
  margin-bottom: 40px;
}
.gallery-filter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery-filter ul li {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-weight: 500;
  line-height: 100%;
  color: #2196F3;
  background: #DFF1FF;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.gallery-filter ul li.filter-active {
  color: #fff;
  background: #2196F3;
}
.gallery-block {
  width: 100%;
}
.gallery-swiper__bottom {
  width: 100%;
  overflow: hidden;
}
.gallery-swiper__bottom .swiper-slide {
  width: 93px;
  height: 52px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}
.gallery-swiper__bottom .swiper-slide-thumb-active {
  position: relative;
}
.gallery-swiper__bottom .swiper-slide-thumb-active::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 150, 243, 0.5)), to(rgba(33, 150, 243, 0.5)));
  background: linear-gradient(0deg, rgba(33, 150, 243, 0.5), rgba(33, 150, 243, 0.5));
}
.gallery-swiper__bottom .swiper-slide img {
  width: 100%;
  height: auto;
}
.gallery-swiper__top {
  width: 100%;
  overflow: hidden;
  height: 621px;
  margin-bottom: 20px;
}
.gallery-swiper__top .swiper-slide {
  border-radius: 10px;
  overflow: hidden;
}
.gallery-swiper__top .swiper-slide .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: static;
}

@media screen and (max-width: 991px) {
  .gallery-swiper__top {
    height: auto;
  }
  .gallery-swiper__bottom .swiper-slide {
    height: auto;
  }
}
@media screen and (max-width: 575px) {
  .gallery-filter {
    width: 320px;
    overflow-x: scroll;
  }
  .gallery-filter ul {
    width: 550px;
  }
}