.how {
  margin-bottom: 200px;
  background: #DFF1FF;
  padding: 60px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.how-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 855px;
  margin: 0 auto;
  padding: 15px;
  background: #FFFFFF;
  border-radius: 90px;
  margin-bottom: 55px;
}
.how-tabs__item {
  width: 255px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2196F3;
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  background: #DFF1FF;
  border-radius: 90px;
  margin-right: 30px;
  cursor: pointer;
}
.how-tabs__item-active {
  background: #2196F3;
  color: #fff;
  position: relative;
}
.how-tabs__item-active::before {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: #2196F3;
  z-index: 0;
  top: 100%;
  left: 50%;
  -webkit-transform: rotateZ(45deg) translate(-50%, -50%);
          transform: rotateZ(45deg) translate(-50%, -50%);
  border-radius: 4px;
}
.how-tabs__item:last-child {
  margin-right: 0px;
}
.how-cards {
  position: relative;
  width: 100%;
}
.how-card {
  position: relative;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  opacity: 0;
  display: none !important;
}
.how-card-active {
  display: block !important;
  -webkit-animation: scaleFadeIn 0.5s linear normal forwards;
          animation: scaleFadeIn 0.5s linear normal forwards;
}
.how-card img {
  width: 100%;
  height: auto;
}
.how-info {
  position: absolute;
  z-index: 1;
}
.how-info__right .how-info__text {
  left: auto;
  right: 50%;
}
.how-info__top .how-info__text {
  bottom: auto;
  top: 50%;
}
.how-info__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: #2196F3;
  cursor: pointer;
}
.how-info__btn-active::before {
  -webkit-transform: rotateZ(0deg) !important;
          transform: rotateZ(0deg) !important;
}
.how-info__btn::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 3px;
  display: block;
  background: #fff;
  position: relative;
}
.how-info__btn::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 3px;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.how-info__text {
  position: absolute;
  padding: 0px;
  left: 50%;
  bottom: 50%;
  width: 0;
  height: 0px;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(33, 150, 243, 0.8);
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.how-info__text-active {
  width: 200px;
  min-height: 80px;
  padding: 10px;
}

@-webkit-keyframes scaleFadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleFadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media screen and (max-width: 575px) {
  .how-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-card img {
    margin-bottom: 30px;
  }
  .how-info {
    height: auto;
    position: relative;
    left: auto !important;
    top: auto !important;
    margin-bottom: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .how-info__btn {
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  .how-info__btn::before {
    display: none;
  }
  .how-info__btn::after {
    display: none;
  }
  .how-info__text {
    text-align: left;
    background: transparent;
    color: #000;
    width: auto;
    height: auto;
    position: relative;
    left: auto;
    bottom: auto;
    padding-right: 24px;
    font-size: 14px;
  }
  .how-info__text-active {
    min-height: auto;
    padding: 0px;
  }
}