.interest {
  margin-bottom: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.interest-cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.interest-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
}
.interest-card:nth-child(3n) {
  margin-right: 0px;
}
.interest-card h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 6px;
}
.interest-card a {
  font-weight: 500;
  line-height: 130%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}
.interest-card__img {
  min-width: 100px;
  min-height: 100px;
  width: 100px;
  height: 100px;
  background: #FF9534;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width: 1199px) {
  .interest-cards {
    max-width: 730px;
    margin: 0 auto;
  }
  .interest-card:nth-child(3n) {
    margin-right: 30px;
  }
  .interest-card:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 991px) {
  .interest-cards {
    max-width: none;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .interest-card {
    margin-right: 0px !important;
  }
}
@media screen and (max-width: 767px) {
  .interest-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 575px) {
  .interest-card {
    min-width: 152px;
    margin-right: 27px !important;
  }
  .interest-card h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
  }
  .interest-card a {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
  }
  .interest-card__img {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-right: 8px;
  }
  .interest-card__img img {
    width: 60%;
  }
  .interest-cards {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}